.body {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 20px;
  border: groove;
  border-width: thick;
}
h1 {
  text-align: center;
  font-family: 'Times New Roman';
  background-color: grey;
}
footer {
  display: flex;
  justify-content: center;
  background-color: grey;
}
.info {
  border: outset;
  border-color: lightblue;
  border-width: medium;
  background-color: lightblue;
}
html {
  border: solid;
  border-width: 10px;
  background-color: lightgrey;
}
.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
#carouselExampleSlidesOnly {
  height: 700px;
  width: 550px;
  padding: 5px;
}
.info {
  width: 500px;
  height:500px;
  padding: 5px;
}
.map {
  display: flex;
  justify-content: center;
}
h2 {
  text-align: center;
}
